* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --drop-light: rgba(255, 254, 254, 1);
    --drop-dark: rgba(4, 6, 6, 1);
    --drop-evidence: rgba(1, 96, 255, 1);
    --drop-bglight: rgba(181, 209, 231, 1);
    --drop-lightdark: rgb(208, 208, 208);
    --drop-designit: #A3D39A;
    --drop-asu: #60092B;
    --drop-uf-florida: #0192CE;
    --drop-topps: #FE1C1D;
    --drop-grey: #F5F4F4;
    --drop-wbr: #D4011F;
    --drop-lonely: #0D2580;
    --drop-cco: #FED831;
}

/* #region common css */
section {
    padding-bottom: 5rem;
}

img {
    max-width: 100%;
}

a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-decoration: none;
}

p,
label,
span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.card-content p,
{
font-size: 0.8rem;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 4rem;
}

.col-2 {
    width: calc(100%/12 *2);
}

.col-4 {
    width: calc(100%/12 * 4);
}

.col-6 {
    width: calc(100%/12 * 6);
}

.col-8 {
    width: calc(100%/12 * 8);
}

img {
    max-width: 100%;
}

/* #endregion common css */

/* #region utility css */

.d-flex {
    display: flex;
}

.w-75 {
    width: 75%;
    margin: 0 auto;
}

.p-1 {
    padding: 1rem;
}

.m-2 {
    margin: 2rem auto;
}

.btn-blue {
    background-color: var(--drop-evidence);
    padding: 0.5rem;
    max-width: 70%;
    text-align: center;
}

.btn-blue a {
    color: var(--drop-light);
}

.btn-blue:hover {
    filter: opacity(0.7);
    color: var(--drop-light);
}

.btn-light {
    padding: 0.5rem;
    max-width: 70%;
    border: 1px solid var(--drop-dark);
    text-align: center;
}

.btn-light a {
    color: var(--drop-dark);

}

.btn-light:hover {
    background-color: var(--drop-dark);
    border-color: var(--drop-light);
    color: var(--drop-light);
}
.btn-light>a:hover {
    color: var(--drop-light);
}

.spacer {
    width: 20%;
    border: 0.5px solid var(--drop-lightdark);
}

/* #endregion utility css */

/* #region header css */
header {
    background-color: var(--drop-light);
    position: sticky;
    top: 0;
    width: 100%;
}

.nav-left,
.nav-right {
    width: 40%;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: var(--drop-dark);
    text-transform: capitalize;
    line-height: 3rem;
}

.nav-left>a:hover,
.nav-right>a:hover {
    border-bottom: 1px solid var(--drop-evidence);
}

.inizia {
    background-color: var(--drop-evidence);
    padding: 0.5rem;
}

.inizia a {
    color: var(--drop-light);
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

/* #endregion header css */


/* #region main css */
/* #region jumbotron */
.jumbotron.content {
    justify-content: space-around;
}

.jumbotron {
    background-color: var(--drop-bglight);
    height: 580px;
}

.btn-blue.prova {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.fa-arrow-down {
    font-size: 2.5rem;
    padding-top: 2rem;
}

/* #endregion jumbotron */

/* #region business */
.business {
    padding-top: 6rem;
}

form {
    padding-top: 3rem;
}

label {
    padding-right: 3rem;

}

.plans {
    align-content: center;
    padding-top: 2rem;
}

.plans,
.functions {
    flex-wrap: wrap;
    justify-content: space-between;
}

.vert-card {
    width: calc(100%/12 * 3.5);
    border: 1px solid var(--drop-lightdark);
}

.card {
    width: calc(100%/12 * 3.5);
    padding: 2rem 1rem;
}

.operations h3 {
    padding-bottom: 3rem;
}

.card>.card-content>p {
    padding-top: 2rem;
}



.vert-card>.card-header,
.oriz-card>.card-header {
    justify-content: center;
    padding: 0.5rem;
    border-bottom: 1px solid var(--drop-lightdark);
    gap: 0.5rem;
    justify-content: center;
    line-height: 1rem;
}

.oriz-card {
    margin-top: 2rem;
    width: 100%;
    border: 1px solid var(--drop-lightdark);
}

.vert-card>.card-content {
    justify-content: center;
    padding: 1rem;
    gap: 0.5rem;
    justify-content: center;
    line-height: 1rem;
}


.card-content>.plan {
    padding-top: 1rem;
}

.card-content>.price {
    font-weight: 700;
    padding-top: 1rem;
}

.card-content>.durata {
    padding-top: 1rem;
}

.details {
    padding: 2.5rem 0;
}

.details i {
    padding-right: 0.5rem;
}

.details div {
    padding-top: 1rem;
}

.try {
    max-width: 100%;
    margin: 2rem 0.5rem;
    text-align: center;
}

.card-content>p>a {
    text-decoration: underline;
    color: var(--drop-evidence);
}

.card-content>.spacer {
    margin: 3rem 0;
}

.extra>p:first-child {
    font-weight: 700;
    padding-top: 2.5rem;
}

.extra>div:last-child {
    padding-bottom: 2.5rem;
}

.extra i {
    color: var(--drop-evidence);
    padding-right: 0.5rem;
}

.extra>div {
    padding-top: 1.5rem;

}

.col-4>.contact {
    max-width: 80%;
    text-align: center;
    margin: 0 0 0 auto;
}

/* #endregion business */

/* #region partner */

.partner .col-4 {
    padding: 2rem 0 0 2rem;
}

.partner h4,
.partner p,
.partner div {
    margin-top: 1.5rem;
}

/* #endregion partner */


/* #region team */
.team-header>p {
    padding: 5rem 0;
}

.team-header a {
    text-decoration: underline;
    color: var(--drop-evidence);
}

.team-content>.col-4 {
    flex-wrap: wrap;
}

.team-logo {
    display: flex;
    width: 50%;
    aspect-ratio: 1;
    padding: 4rem;
    align-items: center;
    justify-content: center;
}

.team-logo>img {
    filter: invert(1);
}

.designit {
    background-color: var(--drop-designit);
}

.asu {
    background-color: var(--drop-asu);
}

.uf-florida {
    background-color: var(--drop-uf-florida);
}

.topps {
    background-color: var(--drop-topps);
}

.team-description {
    background-color: var(--drop-grey);
    padding: 3rem;
}

.team-description>img {
    max-width: 50%;
}

.team-description>.testimonial,
.team-description>.author {
    padding-top: 2rem;
}

.wbr {
    background-color: var(--drop-wbr);
}

.hearts {
    background-color: var(--drop-bglight);
}

.lonely-planet {
    background-color: var(--drop-lonely);
}

.cco {
    background-color: var(--drop-cco);
}

.team-footer {
    background-color: var(--drop-bglight);
}

.team-footer .col-8 {
    padding: 5rem 1rem;
}

.team-footer h4 {
    color: var(--drop-asu);
    font-size: 2rem;
}

.team-footer .col-4 {
    padding: 5rem 0;
}
.team-footer .btn-light {
    background-color: #fff;
    border: none;
}

.team-footer .btn-light:hover {
    background-color: var(--drop-dark);
    border: none;
    color: var(--drop-light);
}

/* #endregion team */

/* #region FAQ */
.faq h3 {
    padding-bottom: 2.5rem;
}

.faq-content {
    padding: 1rem 0;
}

.faq-content {
    border-top: 1px solid var(--drop-dark);
    padding: 1rem 0;
}

.faq .faq-content:last-child{
    border-bottom: 1px solid var(--drop-dark);
}

.faq-content>.question>i {
    padding-right: 1rem;
}

.question {
    justify-content: space-between;
    align-items: center;
}

.faq-content:hover .answere{
    display: block;
    padding: 2rem;
}
.faq-content:hover i{
    rotate: 180deg;
    padding-left: 1rem;
}

.answere{
    display: none;
}

/* #endregion FAQ */

/* #endregion main css */


/* #region footer css */
footer {
    background-color: var(--drop-dark);
    color: var(--drop-light);
    padding: 4rem 0;
}

.footer-top h5 {
    padding: 1rem 0;
}

.footer-top li {
    list-style-type: none;
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding-top: 0.7rem;
}

.footer-top {
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 6rem;
}

.footer-bottom>.language {
    border-top: 1px solid var(--drop-light);
    width: 10%;
    padding-top: 2rem;
    gap: 0.5rem;
    align-items: center;
}

.footer-bottom {
    font-size: 0.7rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

/* #endregion footer css */


/* #region DEBUG css */

.debug * {
    border: 1px solid red;
}

.debug .spazio {
    width: 2rem;
    height: 1rem;
    background-color: green;
}

.debug .navbar,
.debug .business {
    background-color: aqua;
}

.debug .nav-left,
.debug .nav-right {
    background-color: yellow;
}

.debug .jumbotron,
.debug .plans {
    background-color: blue;
}

.debug .jumbo-content,
.debug .jumbo-header {
    background-color: #fff;
}


/* #endregion DEBUG css */