* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --drop-light: rgba(255, 254, 254, 1);
    --drop-dark: rgba(4, 6, 6, 1);
    --drop-evidence: rgba(1, 96, 255, 1);
    --drop-bglight: rgba(181, 209, 231, 1);
}

/* #region common css */

a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-decoration: none;
}

p,label{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 2.5rem; 
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 5rem;
}

.col-2 {
    width: calc(100%/12 *2);
}

.col-4 {
    width: calc(100%/12 * 4);
}

.col-6 {
    width: calc(100%/12 * 6);
}

.col-8 {
    width: calc(100%/12 * 8);
}

/* #endregion common css */

/* #region utility css */

.d-flex {
    display: flex;
}

.w-70 {
    width: 70%;
    margin: 0 auto;
}

.p-1 {
    padding: 1rem;
}

.m-2 {
    margin: 2rem auto;
}

.btn-blue {
    background-color: var(--drop-evidence);
    padding: 0.5rem;
    max-width: 50%;
}

.btn-blue a {
    color: var(--drop-light);
    
}

/* #endregion utility css */

/* #region header css */
header {
    background-color: var(--drop-light);
}

.nav-left,
.nav-right {
    width: 40%;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: var(--drop-dark);
    text-transform: capitalize;
}

.inizia {
    background-color: var(--drop-evidence);
    padding: 0.5rem;
}

.inizia a {
    color: var(--drop-light);
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

/* #endregion header css */


/* #region main css */
/* #region jumbotron */
.jumbotron.content {
    justify-content: space-around;
}

.jumbotron {
    background-color: var(--drop-bglight);
    height: 777px;
}
.btn-blue.prova{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.fa-arrow-down{
    font-size: 2.5rem;
    margin-top: 2rem;
}

.jumbo-content > div.col-8 > img{
    max-width: 130%;
}

/* #endregion jumbotron */

/* #region business */
    .business{
        margin-top: 6rem;
    }

    form{
margin-top: 3rem;
    }
    label{
        margin-right: 3rem;

    }




.plans,
.functions {
    flex-wrap: wrap;
    justify-content: center;
}

.vert-card,
.card {
    width: calc(100%/12 * 4);
}
.vert-card > .card-header{
    justify-content: center;
    padding: 0.5rem;
    border: 1px solid var(--drop-dark) ;
    gap: 0.5rem;
    justify-content: center;
    line-height: 1rem;
}

.oriz-card {
    width: 100%;
}
/* #endregion business */

/* #endregion main css */


/* #region footer css */
.footer {
    background-color: var(--drop-dark);
}

.footer-top {
    justify-content: space-between;
}

/* #endregion footer css */


/* #region DEBUG css */

.debug * {
    border: 1px solid red;
}

.debug .spazio {
    width: 2rem;
    height: 1rem;
    background-color: green;
}

.debug .navbar,
.debug .business {
    background-color: aqua;
}

.debug .nav-left,
.debug .nav-right {
    background-color: yellow;
}

.debug .jumbotron,
.debug .plans {
    background-color: blue;
}

.debug .jumbo-content,
.debug .jumbo-header {
    background-color: #fff;
}


/* #endregion DEBUG css */